.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.editDiv {
  width: 100%;
  height: 300px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;

}

.textarea1 {
  width: 50%;
  height: 250px;
  padding: 1.5rem;

}

.preview {
  width: 80vw;
  height: 100%;
  background-color: gray;
  padding: 2rem;
}

.svg{
  transform: scale(1.5);
   opacity: 0.1;
}

.picture {
  background: radial-gradient(black, transparent 60%); 
  transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); 
  opacity: 0.2;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
